<%= form_with(model: customertype, local: true) do |form| %>
<% if customertype.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(customertype.errors.count, "error") %> prohibited this customertype from being saved:</h2>

    <ul>
        <% customertype.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="field">
    <%= form.label :customertype, "Customer Type" %>
    <%= form.text_field :customertype, minlength: 2, maxlength: 30, size: 24, required: true %>
</div>

<div class="actions">
    <%= form.submit action_name == 'new' ? 'Create Customer Type' : 'Update Customer Type'%>
</div>
<% end %>