<p id="notice"><%= notice %></p>

<h1>Customer Types</h1>

<table>
  <thead>
    <tr>
      <th>Customer Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customertypes.each do |customertype| %>
      <tr>
        <td><%= customertype.customertype %></td>
        <td><%= link_to 'Show', customertype %></td>
        <td><%= link_to 'Edit', edit_customertype_path(customertype) %></td>
        <td><%= link_to 'Destroy', customertype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer Type', new_customertype_path %>
