<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card card-default">
            <div class="card-header">
                <h1>Order Auctions</h1>
            </div>
            <table class="table table-hover table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Order</th>
                        <th>Auction</th>
                        <th colspan="3"></th>
                    </tr>
                </thead>
                <tbody>
                    <% @order_auctions.each do |order_auction| %>
                    <tr>
                        <td><%= link_to order_auction.order.ordernum, order_auction.order %></td>
                        <td><%= link_to order_auction.auction.auctionname, order_auction.auction %></td>
                        <td><%= link_to 'Show', order_auction %> / 
                        <%= link_to 'Edit', edit_order_auction_path(order_auction) %>
                        <% if current_user.admin? %> / 
                            <%= link_to 'Destroy', order_auction, method: :delete, data: { confirm: 'Are you sure?' } %></>
                        <% end %>
                    </tr>
                    <% end %>
                </tbody>
            </table>
            <div class="card-footer">
                <div class="footer-left">
                    <%= link_to 'New Order Auction', new_order_auction_path, class: "btn btn-primary" %>
                </div>
                <div class="footer-right">
                    <%== pagy_bootstrap_nav(@pagy) %>
                </div>
            </div>
        </div>
    </div>
</div>

<br>