<%= form_with(model: employeestatus, local: true) do |form| %>
<% if employeestatus.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(employeestatus.errors.count, "error") %> prohibited this employeestatus from being saved:</h2>

    <ul>
        <% employeestatus.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="field">
    <%= form.label :employeestatus, "Employee Status" %>
    <%= form.text_field :employeestatus, min_length: 2, max_length: 30, required: true %>
</div>

<div class="actions">
    <%= form.submit action_name == 'new' ? 'Create Employee Status' : 'Update Employee Status'%>
</div>
<% end %>