<h1>Employee Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Employee Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employeestatuses.each do |employeestatus| %>
      <tr>
        <td><%= employeestatus.employeestatus %></td>
        <td><%= link_to 'Show', employeestatus %></td>
        <td><%= link_to 'Edit', edit_employeestatus_path(employeestatus) %></td>
        <td><%= link_to 'Destroy', employeestatus, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee Status', new_employeestatus_path %>
