<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card card-default">
            <div class="card-header">
                <h1 class="card-title">Employee Statuses</h1>
            </div>
            <table class="table table-hover table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Employee Status</th>
                        <th colspan="3"></th>
                    </tr>
                </thead>
                <tbody>
                    <% @employeestatuses.each do |employeestatus| %>
                    <tr>
                        <td><%= link_to employeestatus.employeestatus, employeestatus %></td>
                        <!--<td><%= link_to 'Show', employeestatus %></td>-->
                        <td><%= link_to 'Edit', edit_employeestatus_path(employeestatus) %> / 
                        <%= link_to 'Destroy', employeestatus, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
            <div class="card-footer">
                <%= link_to 'New Employee Status', new_employeestatus_path, class: "btn btn-primary" %>
            </div>
        </div>
    </div>

    <br>