<%= form_with(model: employee, local: true) do |form| %>
<% if employee.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

    <ul>
        <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="field">
    <%= form.label :empfname, "First Name" %>
    <%= form.text_field :empfname, pattern: "^[a-zA-Z-']*$", required: true %>
</div>

<div class="field">
    <%= form.label :emplname, "Last Name" %>
    <%= form.text_field :emplname, pattern: "^[a-zA-Z-']*$", required: true %>
</div>

<div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, pattern: "^[#'.0-9a-zA-Z\s,-]*$", required: true %>
</div>

<div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, pattern: "[^@]+@[^@]+", required: true %>
</div>

<div class="field">
    <%= form.label :phone %>
    <%= form.telephone_field :phone, pattern: '[^a-zA-Z]*', minlength: 5, maxlength: 24, required: true %>
</div>

<div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, required: true %>
</div>

<div class="field">
    <%= form.label :hiredate, "Hire Date" %>
    <%= form.date_select :hiredate, required: true %>
</div>

<div class="field">
    <%= form.label :department_id %>
    <%= form.collection_select :department_id, Department.order(:departmentname), :id, :departmentname, {include_blank: ""} %>
</div>

<div class="field">
    <%= form.label :employeestatus_id, "Employee Status" %>
    <%= form.collection_select :employeestatus_id, Employeestatus.order(:employeestatus), :id, :employeestatus, {include_blank: ""}, required: true %>
</div>

<div class="field">
    <%= form.label :user_id, "User" %>
    <%= form.collection_select :user_id, User.order(:email), :id, :email, {include_blank: ""} %>
</div>

<div class="actions">
    <%= form.submit %>
</div>
<% end %>