<p id="notice"><%= notice %></p>

<h1>Employees</h1>

<table>
  <thead>
    <tr>
      <th>Empfname</th>
      <th>Emplname</th>
      <th>Address</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Title</th>
      <th>Hiredate</th>
      <th>Company</th>
      <th>Department</th>
      <th>Employeestatus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.empfname %></td>
        <td><%= employee.emplname %></td>
        <td><%= employee.address %></td>
        <td><%= employee.email %></td>
        <td><%= employee.phone %></td>
        <td><%= employee.title %></td>
        <td><%= employee.hiredate %></td>
        <td><%= employee.company_id %></td>
        <td><%= employee.department_id %></td>
        <td><%= employee.employeestatus_id %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>