<%= form_with(model: containerorder, local: true) do |form| %>
<% if containerorder.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(containerorder.errors.count, "error") %> prohibited this containerorder from being saved:</h2>

    <ul>
        <% containerorder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="field">
    <%= form.label :container_id %>
    <%= form.collection_select :container_id, Container.order(:containernum), :id, :containernum %>
</div>

<div class="field">
    <%= form.label :order_id %>
    <%= form.collection_select :order_id, Order.order(:ordernum), :id, :ordernum %>
</div>

<div class="actions">
    <%= form.submit action_name == 'new' ? 'Create Container Order' : 'Update Container Order'%>
</div>
<% end %>