<div class="card-body">
    <%= bootstrap_form_with(model: containerorder, local: true, layout: :vertical) do |form| %>
    <!--<% if containerorder.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(containerorder.errors.count, "error") %> prohibited this containerorder from being saved:</h2>

        <ul>
            <% containerorder.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
    <% end %>--><%= errors_for(@containerorder) %>

    <div class="field">
        <%= form.collection_select :container_id, Container.order(:containernum).all, :id, :containernum, {include_blank: ""}, required: true %>
    </div>

    <div class="field">
        <%= form.collection_select :order_id, Order.order(:ordernum).all, :id, :ordernum, {include_blank: ""}, required: true %>
    </div>

    <div class="actions">
        <%= form.submit :Submit, class: 'btn btn-success' %>
    </div>
    <% end %>
</div>