<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card card-default">
            <div class="card-header">
                <h1>Container Orders</h1>
            </div>
            <table class="table table-hover table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Container</th>
                        <th>Order</th>
                        <th colspan="3"></th>
                    </tr>
                </thead>
                <tbody>
                    <% @containerorders.each do |containerorder| %>
                    <tr>
                        <td><%= link_to containerorder.container.containernum, containerorder.container %></td>
                        <td><%= link_to containerorder.order.ordernum, containerorder.order %></td>
                        <td><%= link_to 'Show', containerorder %> / 
                        <%= link_to 'Edit', edit_containerorder_path(containerorder) %>
                        <% if current_user.admin? %> / 
                            <%= link_to 'Destroy', containerorder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        <% end %>
                    </tr>
                    <% end %>
                </tbody>
            </table>
            <div class="card-footer">
                <div class="footer-left">
                    <%= link_to 'New Container Order', new_containerorder_path, class: "btn btn-primary" %>
                </div>
                <div class="footer-right">
                    <%== pagy_bootstrap_nav(@pagy) %>
                </div>
            </div>
        </div>
    </div>
</div>
<br>