<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card">
            <div class="card-header">
                <h3>Container Order</h3>
            </div>
            <div class="card-body">
                <p>
                    <strong>Container #:</strong>
                    <%= link_to @containerorder.container.containernum, @containerorder.container %>
                </p>
                <p>
                    <strong>Company Name:</strong>
                    <%= link_to @containerorder.container.company.companyname, @containerorder.container.company %>
                </p>
                <p>
                    <strong>Order #:</strong>
                    <%= link_to @containerorder.order.ordernum, @containerorder.order %>
                </p>
                <strong>Shipment #:</strong>
                <%= link_to @containerorder.container.shipment.shipmentnum, @containerorder.container.shipment %>
                </p>

            </div>
            <div class="card-footer">
                <%= link_to 'Edit', edit_containerorder_path(@containerorder), class: "btn btn-primary" %>
                <%= link_to 'Back', :back, class: "btn btn-secondary" %> </div>
        </div>
    </div>
</div>