<p id="notice"><%= notice %></p>

<h1>Invoicestatuses</h1>

<table>
  <thead>
    <tr>
      <th>Invoicestatus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoicestatuses.each do |invoicestatus| %>
      <tr>
        <td><%= invoicestatus.invoicestatus %></td>
        <td><%= link_to 'Show', invoicestatus %></td>
        <td><%= link_to 'Edit', edit_invoicestatus_path(invoicestatus) %></td>
        <td><%= link_to 'Destroy', invoicestatus, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoicestatus', new_invoicestatus_path %>
