<div class="card-body">
    <%= bootstrap_form_with(model: invoice, local: true, layout: :vertical) do |form| %>
    <!--<% if invoice.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>
        <ul>
            <% invoice.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
    <% end %>--><%= errors_for(@invoice) %>

    <div class="field">
        <%= form.text_field :invoicenum, label: "Invoice Number", pattern: '^[a-zA-Z0-9-]*$', help: "Only numeric characters are allowed", maxlength: 128, disabled: false if @invoice.persisted? %>
    </div>

    <div class="field">
        <%= form.text_field :invoicedate, label: "Invoice Date", data: { behavior: "flatpickr" }, required: true %>
    </div>

    <div class="field">
        <%= form.text_field :duedate, label: "Due Date", data: { behavior: "flatpickr" }, required: true %>
    </div>

    <div class="field">
        <%= form.collection_select :customer_id, Customer.order(created_at: :desc).all, :id, :cus_fullname, {include_blank: ""}, required: true %>
    </div>

    <div class="field">
        <%= form.collection_select :employee_id, Employee.order(created_at: :desc).all, :id, :emp_fullname, {include_blank: ""}, required: true %>
    </div>

    <div class="field">
        <%= form.collection_select :invoicestatus_id, Invoicestatus.where("id > 1").order(created_at: :desc), :id, :invoicestatus, {include_blank: ""}, required: true %>
    </div>

    <div class="field">
        <%= form.number_field :amountdue, label: "Amount Due", value: number_with_precision(invoice.amountdue, precision: 2), min: 0, step: 0.01, placeholder: "$", required: true %>
    </div>

    <div class="field">
        <%= form.collection_select :shipment_id, Shipment.where("id > 0").order(created_at: :desc), :id, :shipmentnum, {include_blank: ""}%>
    </div>

    <%# Nested Form %>
    <h3>Orders</h3>
    <div id='[child]s'>
        <%= form.fields_for :orders do |order| %>
        <%= render 'order_fields', :f => order %>
        <% end %>
        <div class='links'>
            <%= link_to_add_association 'Add Order', form, :orders %>
        </div>
    </div><br><br>
    <%# End of Nested Form %>

    <div class="actions">
        <%= form.submit :Submit, class: 'btn btn-success' %>
    </div>
    <% end %>
</div>