<div class="row row-fluid">
    <div class="col-xs-12">
        <div class="card card-default">
            <div class="card-header">
                <h1>Invoices</h1>
            </div>
            <table class="table table-hover table-bordered table-responsive">
                <thead class="thead-light">
                    <tr>
                        <th>Invoice Number</th>
                        <th>Invoice Date</th>
                        <th>Due Date</th>
                        <th>Customer</th>
                        <th>Employee</th>
                        <th>Invoice Status</th>
                        <th>Amount Due</th>
                        <th>Shipment Number</th>
                        <th colspan="8"></th>
                    </tr>
                </thead>
                <tbody>
                    <% @invoices.each do |invoice| %>
                    <tr>
                        <td><%= link_to invoice.invoicenum, invoice %></td>
                        <td><%= invoice.invoicedate.to_s(:short_date) %></td>
                        <td><%= invoice.duedate.to_s(:short_date) %></td>
                        <td><%= link_to invoice.customer.try(:cus_fullname), invoice.customer %></td>
                        <td><%= link_to invoice.employee.try(:emp_fullname), invoice.employee %></td>
                        <td><%= invoice.invoicestatus.invoicestatus %></td>
                        <td><%= number_to_currency(invoice.amountdue) %></td>
                        <td><%= link_to invoice.shipment.shipmentnum, invoice.shipment if invoice.shipment %></td>
                        <!--<td><%= link_to 'Show', invoice %></td>-->
                        <td><%= link_to 'Edit', edit_invoice_path(invoice) if policy(@invoice).edit? %>
                            <% if current_user.admin? %> /
                            <%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        <% end %>
                        <%# unless invoice.orders.empty? %>
                        <!--                        <td>-->
                        <%#= link_to "View PDF", invoice_path(invoice, format: :pdf), class: "btn btn-xs btn-outline-primary py-0 in-line" %>
                        <!--                        </td>-->
                        <%# end %>
                    </tr>
                    <% end %>
                </tbody>
            </table>
            <div class="card-footer">
                <div class="footer-left">
                    <%= link_to 'New Invoice', new_invoice_path, class: "btn btn-primary" if policy(@invoice).new? %>
                </div>
                <div class="footer-right">
                    <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1  %>
                </div>
            </div>
        </div>
    </div>
</div>

<br>