  <div class="row row-fluid">
      <div class="col-sm-5">
          <div class="card">
              <div class="card-header">
                  <h3>Invoice</h3>
              </div>
              <div class="card-body">
                  <p>
                      <strong>Invoice #:</strong>
                      <%= @invoice.invoicenum %>
                  </p>
                  <p>
                      <strong>Invoice Date:</strong>
                      <%= @invoice.invoicedate.to_s(:long_date) %>
                  </p>
                  <p>
                      <strong>Due Date:</strong>
                      <%= @invoice.duedate.to_s(:long_date) %>
                  </p>
                  <p>
                      <strong>Customer:</strong>
                      <%= link_to @invoice.customer.cus_fullname, @invoice.customer %>
                  </p>
                  <p>
                      <strong>Employee:</strong>
                      <%= link_to @invoice.employee.emp_fullname, @invoice.employee %>
                  </p>
                  <p>
                      <strong>Invoice Status:</strong>
                      <%= @invoice.invoicestatus.invoicestatus %>
                  </p>
                  <p>
                      <strong>Amount Due:</strong>
                      <%= number_to_currency(@invoice.amountdue) %>
                  </p>

                  <% unless @invoice.orders.empty? %>
                  <p>
                      <strong>Orders:</strong>
                      <ul>
                          <% @invoice.orders.each do |order| %>
                          <li><strong>Order #: </strong>
                              <%= link_to order.ordernum, order %></li>
                          <% end %>
                      </ul>
                  </p>
                  <% end %>

                  <% unless @invoice.payments.empty? %>
                  <p>
                      <strong>Payments:</strong>
                      <ul>
                          <% @invoice.payments.each do |payment| %>
                          <li><strong>Payment #: </strong>
                              <%= link_to payment.paymentnum, payment %></li>
                          <% end %>
                      </ul>
                  </p>
                  <% end %>

                  <% if @invoice.shipment %>
                  <p>
                      <strong>Shipment #: </strong>
                      <%= link_to @invoice.shipment.shipmentnum, @invoice.shipment %>
                  </p>
                  <% end %>

              </div>
              <div class="card-footer">
                  <%= link_to 'Edit', edit_invoice_path(@invoice), class: "btn btn-primary" %>
                  <%= link_to 'Back', :back, class: "btn btn-secondary" %>
                  <%= link_to "View PDF", invoice_path(@invoice, format: :pdf), class: "btn btn-outline-primary" %>

              </div>
          </div>
      </div>
  </div>