<p id="notice"><%= notice %></p>

<p>
    <strong>Invoice Date:</strong>
    <%= @invoice.invoicedate %>
</p>

<p>
    <strong>Due Date:</strong>
    <%= @invoice.duedate %>
</p>

<p>
    <strong>Customer:</strong>
    <%= @invoice.customer.cus_fullname %>
</p>

<p>
    <strong>Employee:</strong>
    <%= @invoice.employee.emp_fullname %>
</p>

<p>
    <strong>Invoice Status:</strong>
    <%= @invoice.invoicestatus.id %>
</p>

<p>
    <strong>Amount Due:</strong>
    <%= @invoice.amountdue %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>