<p id="notice"><%= notice %></p>

<p>
    <strong>Invoice Date:</strong>
    <%= @invoice.invoicedate %>
</p>

<p>
    <strong>Due Date:</strong>
    <%= @invoice.duedate %>
</p>

<p>
    <strong>Customer:</strong>
    <%= @invoice.customer.cus_fullname %>
</p>

<p>
    <strong>Employee:</strong>
    <%= @invoice.employee.emp_fullname %>
</p>

<p>
    <strong>Order:</strong>
    <%= @invoice.order_id %>
</p>

<p>
    <strong>Payment:</strong>
    <%= @invoice.payment_id %>
</p>

<p>
    <strong>Car:</strong>
    <%= @invoice.car.car_name %>
</p>

<p>
    <strong>Shipment:</strong>
    <%= @invoice.shipment_id %>
</p>

<p>
    <strong>Auction:</strong>
    <%= @invoice.auction.auctionname %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>