<p>
    <strong>Invoice Number:</strong>
    <%= @invoice.invoicenum %>
</p>

<p>
    <strong>Invoice Date:</strong>
    <%= @invoice.invoicedate %>
</p>

<p>
    <strong>Due Date:</strong>
    <%= @invoice.duedate %>
</p>

<p>
    <strong>Customer:</strong>
    <%= @invoice.customer.cus_fullname %>
</p>

<p>
    <strong>Employee:</strong>
    <%= @invoice.employee.emp_fullname %>
</p>

<p>
    <strong>Invoice Status:</strong>
    <%= @invoice.invoicestatus.invoicestatus %>
</p>

<p>
    <strong>Amount Due:</strong>
    <%= number_to_currency(@invoice.amountdue) %>
</p>


<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>