<div class="card-body">
    <%= bootstrap_form_with(model: orderstatus, local: true, layout: :horizontal) do |form| %>
    <% if orderstatus.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(orderstatus.errors.count, "error") %> prohibited this orderstatus from being saved:</h2>

        <ul>
            <% orderstatus.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
    <% end %>

    <div class="field">
        <%= form.text_field :orderstatus, label: "Order Status", minlength: 2, maxlength: 30, required: true %>
    </div>

    <div class="actions">
        <%= form.submit :Submit, class: 'btn btn-success' %>
    </div>
    <% end %>
</div>