<%= form_with(model: orderstatus, local: true) do |form| %>
  <% if orderstatus.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(orderstatus.errors.count, "error") %> prohibited this orderstatus from being saved:</h2>

      <ul>
        <% orderstatus.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :customertype %>
    <%= form.text_field :customertype %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>