<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card card-default">
            <div class="card-header">
                <h1>Order Statuses</h1>
            </div>
            <table class="table table-hover table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Order Status</th>

                        <th colspan="3"></th>
                    </tr>
                </thead>
                <tbody>
                    <% @orderstatuses.each do |orderstatus| %>
                    <tr>
                        <td><%= orderstatus.orderstatus %></td>
                        <td><%= link_to 'Show', orderstatus %></td>
                        <td><%= link_to 'Edit', edit_orderstatus_path(orderstatus) %></td>
                        <td><%= link_to 'Destroy', orderstatus, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
            <div class="card-footer">
                <%= link_to 'New Order Status', new_orderstatus_path, class: "btn btn-primary" %>
            </div>
        </div>
    </div>
</div>

<br>