<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card">
            <div class="card-header">
                <h3>Order Status</h3>
            </div>
            <div class="card-body">
                <p>
                    <strong>Order Status:</strong>
                    <%= @orderstatus.orderstatus %>
                </p>

                <% unless @orderstatus.orders.empty? %>
                <p>
                    <strong>Orders:</strong>
                    <ul style="columns: 3 200px;">
                        <% @orderstatus.orders.each do |order| %>
                        <li><%= link_to order.ordernum, order %>
                            (<%= order.customer.try(:cus_fullname) %>)
                            <% end %>
                            </>
                    </ul>
                </p>
                <% end %>

            </div>
            <div class="card-footer">
                <%= link_to 'Edit', edit_orderstatus_path(@orderstatus), class: "btn btn-primary" %>
                <%= link_to 'Back', orderstatuses_path, class: "btn btn-secondary" %> </div>
        </div>
    </div>
</div>