<div class="card-body">
    <%= bootstrap_form_with(model: shipmentmethod, local: true, layout: :vertical) do |form| %>
    <!--<% if shipmentmethod.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(shipmentmethod.errors.count, "error") %> prohibited this shipmentmethod from being saved:</h2>

        <ul>
            <% shipmentmethod.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
    <% end %>--><%= errors_for(@shipmentmethod) %>

    <div class="field">
        <%= form.text_field :shipmentmethod, label: "Shipment Method", maxlength: 128, required: true %>
    </div>

    <div class="actions">
        <%= form.submit :Submit, class: 'btn btn-success' %>
    </div>
    <% end %>
</div>