<p id="notice"><%= notice %></p>

<h1>Shipmentmethods</h1>

<table>
  <thead>
    <tr>
      <th>Shipmentmethod</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shipmentmethods.each do |shipmentmethod| %>
      <tr>
        <td><%= shipmentmethod.shipmentmethod %></td>
        <td><%= link_to 'Show', shipmentmethod %></td>
        <td><%= link_to 'Edit', edit_shipmentmethod_path(shipmentmethod) %></td>
        <td><%= link_to 'Destroy', shipmentmethod, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shipmentmethod', new_shipmentmethod_path %>
