<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card">
            <div class="card-header">
                <h3>Shipment Method</h3>
            </div>
            <div class="card-body">
                <p>
                    <strong>Shipment Method:</strong>
                    <%= @shipmentmethod.shipmentmethod %>
                </p>

                <% unless @shipmentmethod.shipments.empty? %>
                <p>
                    <strong>Shipments:</strong>
                    <ul style="columns: 3 200px;">
                        <% @shipmentmethod.shipments.each do |shipment| %>
                        <li><%= link_to shipment.shipmentnum, shipment %>
                            (<%= shipment.warehouse.warehousename %>)
                            <% end %>
                        </li>
                    </ul>
                </p>
                <% end %>

            </div>
            <div class="card-footer">
                <%= link_to 'Edit', edit_shipmentmethod_path(@shipmentmethod), class: "btn btn-primary" %>
                <%= link_to 'Back', shipmentmethods_path, class: "btn btn-secondary" %> </div>
        </div>
    </div>
</div>