<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card card-default">
            <div class="card-header">
                <h1>Invoice Shipments</h1>
            </div>
            <table class="table table-hover table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Shipment</th>
                        <th>Invoice</th>
                        <th colspan="3"></th>
                    </tr>
                </thead>
                <tbody>
                    <% @invoiceshipments.each do |invoiceshipment| %>
                    <tr>
                        <td><%= link_to invoiceshipment.shipment.shipmentnum, invoiceshipment.shipment %></td>
                        <td><%= link_to invoiceshipment.invoice.invoicenum, invoiceshipment.invoice %></td>
                        <td><%= link_to 'Show', invoiceshipment %> /
                            <%= link_to 'Edit', edit_invoiceshipment_path(invoiceshipment) %>
                            <% if current_user.admin? %> /
                            <%= link_to 'Destroy', invoiceshipment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        <% end %>
                    </tr>
                    <% end %>
                </tbody>
            </table>
            <div class="card-footer">
                <div class="footer-left">
                    <%= link_to 'New Invoice Shipment', new_invoiceshipment_path, class: "btn btn-primary" %>
                </div>
                <div class="footer-right">
                    <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1  %>
                </div>
            </div>
        </div>
    </div>
</div>

<br>