<div class="card-body">
    <%= bootstrap_form_with(model: auction, local: true, layout: :vertical) do |form| %>
    <!--<% if auction.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(auction.errors.count, "error") %> prohibited this auction from being saved:</h2>

        <ul>
            <% auction.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
    <% end %>--><%= errors_for(@auction) %>

    <div class="field">
        <%= form.text_field :auctionname, label: "Auction Name", maxlength: 128, required: true %>
    </div>

    <div class="field">
        <%= form.text_field :address, pattern: "^[#'.0-9a-zA-Z\s,-]*$", maxlength: 128, required: true %>
    </div>

    <div class="field">
        <%= form.collection_select :location_id, Location.where("id > 0").order(created_at: :desc), :id, :city, {include_blank: ""},  required: true %>
    </div>

    <%# Nested Form Form %>
    <% unless @auction.order_auctions.empty? %>
    <h3>Orders</h3>
    <div id='[child]s'>
        <%= form.fields_for :order_auctions do |order_auction| %>
        <%= render 'order_auction_fields', :f => order_auction %>
        <% end %>
        <div class='links'>
            <%= link_to_add_association 'Add Order', form, :order_auctions %>
        </div>
    </div><br><br><% end %>
    <%# End of Nested Form Form %>

    <div class="actions">
        <%= form.submit  :Submit, class: 'btn btn-success' %>
    </div>
    <% end %>
</div>