<div class="row row-fluid">
    <div class="col-xs-12">
        <div class="card card-default">
            <div class="card-header">
                <h1>Auctions</h1>
            </div>
            <table class="table table-hover table-bordered table-responsive">
                <thead class="thead-light">
                    <tr>
                        <th>Auction Name</th>
                        <th>Address</th>
                        <th>Location</th>
                        <th colspan="4"></th>
                    </tr>
                </thead>
                <tbody>
                    <% @auctions.each do |auction| %>
                    <tr>
                        <td><%= link_to auction.auctionname, auction %></td>
                        <td><%= auction.address %></td>
                        <td><%= link_to auction.location.city, auction.location %></td>
                        <!--<td><%= link_to 'Show', auction %></td>-->
                        <td><%= link_to 'Edit', edit_auction_path(auction) %>
                            <% if current_user.admin? %> /
                            <%= link_to 'Destroy', auction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        <% end %>
                        <td></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>

            <div class="card-footer">
                <div class="footer-left">
                    <%= link_to 'New Auction', new_auction_path, class: "btn btn-primary" %>
                </div>
                <div class="footer-right">
                    <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1  %>
                </div>
            </div>
        </div>
    </div>
</div>

<br>