<p>
  <strong>Auction Name:</strong>
  <%= @auction.auctionname %>  
</p>

<p>
  <strong>Address:</strong>
  <%= @auction.address %>
</p>

<p>
  <strong>Location:</strong>
  <%= @auction.location.city %>
</p>

<%= link_to 'Edit', edit_auction_path(@auction) %> |
<%= link_to 'Back', auctions_path %>
