 <td>
  <%= link_to user.email, user %>
</td>
<td>
  <%= bootstrap_form_with(model: user, local: true, layout: :horizontal) do |form| %>
<div class="input-group">
    <%= form.select(:role, User.roles.keys.map {|role| [role.titleize,role]}, hide_label: true, class: "btn btn-secondary btn-lg dropdown-toggle") %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= form.submit 'Change Role', class: "btn btn-sm btn-outline-primary py-0 in-line" %>
  <% end %>
  </div>
</td>
<td>
  <%= link_to("Delete User", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "btn btn-outline-danger btn-sm" ) unless user == current_user %>
</td>

