<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card">
            <div class="card-header">
                <h3>User</h3>
            </div>
            <div class="card-body">
                <p>
                    <strong>Email: </strong>
                    <%= @user.email if @user.email %>
                </p>
                <% if @user.employee? || @user.customer? %>
                <p>
                    <strong>Name: </strong>
                    <%= link_to @user.employee.try(:emp_fullname), @user.employee if @user.employee %>
                    <%= link_to @user.customer.try(:cus_fullname), @user.customer if @user.customer %>
                </p>
                <% end %>
                <p>
                    <strong>Role: </strong>
                    <%= link_to @user.role.titleize, employees_path if @user.role == 'employee' %>
                    <%= link_to @user.role.titleize, customers_path if @user.role == 'customer' %>
                    <%= @user.role.titleize if @user.role == 'admin' %>
                </p>

            </div>
            <div class="card-footer">
                <%= link_to 'Back', :back, class: "btn btn-secondary" %>
            </div>
        </div>
    </div>
</div>