<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card">
            <div class="card-body">
                <h3>User</h3>
                <p>Email: <%= @user.email if @user.email %></p>
                <p>Name: <%= @user.employee.try(:emp_fullname) %>
                    <%= @user.customer.try(:cus_fullname) %></p>
                <p>Role: <%= @user.role.titleize %></p>

                <%= link_to 'Back', users_path, class: "btn btn-secondary" %>
            </div>
        </div>
    </div>
</div>