<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card card-default">
            <div class="card-header">
                <h2>Change Your Password</h2>
            </div>
            <div class="card-body">
                <%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, layout: :vertical) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>
                <%= f.hidden_field :reset_password_token %>

                <div class="field">
                    <!--<% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em><br />
                    <% end %>-->
                    <%= f.password_field :password, label: "New Password", autofocus: true, autocomplete: "new-password", minlength: 6, maxlength: 128, size: 24, required: true %>
                </div>

                <div class="field">
                    <!--<%= f.label :password_confirmation, "Confirm New Password" %><br/>-->
                    <%= f.password_field :password_confirmation, label: "Confirm New Password", autocomplete: "new-password", minlength: 6, maxlength: 128, size: 24,required: true %>
                </div>

                <%= render "devise/shared/links" %><hr>
                <div class="actions">
                    <%= f.submit "Change Password", class: 'btn btn-primary' %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>