<p id="notice"><%= notice %></p>

<h1>Paymentstatuses</h1>

<table>
  <thead>
    <tr>
      <th>Paymentstatus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paymentstatuses.each do |paymentstatus| %>
      <tr>
        <td><%= paymentstatus.paymentstatus %></td>
        <td><%= link_to 'Show', paymentstatus %></td>
        <td><%= link_to 'Edit', edit_paymentstatus_path(paymentstatus) %></td>
        <td><%= link_to 'Destroy', paymentstatus, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paymentstatus', new_paymentstatus_path %>