<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card">
            <div class="card-header">
                <h3>Payment Status</h3>
            </div>
            <div class="card-body">
                <p>
                    <strong>Payment Status:</strong>
                    <%= @paymentstatus.paymentstatus %>
                </p>

                <% unless @paymentstatus.payments.empty? %>
                <p>
                    <strong>Payments:</strong>
                    <ul style="columns: 3 200px;">
                        <% @paymentstatus.payments.each do |payment| %>
                        <li><%= link_to payment.paymentnum, payment %>
                            (<%= payment.customer.try(:cus_fullname) %>)
                            <% end %>
                            </>
                    </ul>
                </p>
                <% end %>

            </div>
            <div class="card-footer">
                <%= link_to 'Edit', edit_paymentstatus_path(@paymentstatus), class: "btn btn-primary" %>
                <%= link_to 'Back', paymentstatuses_path, class: "btn btn-secondary" %> </div>
        </div>
    </div>
</div>