<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card card-default">
            <div class="card-header">
                <h1>Departments</h1>
            </div>
            <table class="table table-hover table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Department Name</th>
                        <th>Company</th>
                        <th colspan="3"></th>
                    </tr>
                </thead>
                <tbody>
                    <% @departments.each do |department| %>
                    <tr>
                        <td><%= link_to department.departmentname, department %></td>
                        <td><%= link_to department.company.companyname, department.company %></td>
                        <!--<td><%= link_to 'Show', department %></td>-->
                        <td><%= link_to 'Edit', edit_department_path(department) %>
                        <% if current_user.admin? %> / 
                            <%= link_to 'Destroy', department, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        <% end %>
                    </tr>
                    <% end %>
                </tbody>
            </table>
            <div class="card-footer">
                <%= link_to 'New Department', new_department_path, class: "btn btn-primary" %>
            </div>
        </div>
    </div>
</div>

<br>