<p id="notice"><%= notice %></p>

<p>
  <strong>Department Name:</strong>
  <%= @department.departmentname %>
</p>

<p>
  <strong>Company:</strong>
  <%= @department.company.companyname %>
</p>


<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
