<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card">
            <div class="card-header">
                <h3>Department</h3>
            </div>
            <div class="card-body">
                <p>
                    <strong>Department Name:</strong>
                    <%= @department.departmentname %>
                </p>

                <p>
                    <strong>Company:</strong>
                    <%= link_to @department.company.companyname, @department.company %>
                </p>

                <% unless @department.employees.empty? %>
                <p>
                    <strong>Employees:</strong>
                    <ul>
                        <% @department.employees.each do |employee| %>
                        <li><%= link_to employee.try(:emp_fullname), employee %></li>
                        <% end %>
                    </ul>
                </p>
                <% end %>

            </div>
            <div class="card-footer">
                <%= link_to 'Edit', edit_department_path(@department), class: "btn btn-primary" %>
                <%= link_to 'Back', departments_path, class: "btn btn-secondary" %>
            </div>

        </div>
    </div>
</div>