<%= form_with(model: container, local: true) do |form| %>
<% if container.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(container.errors.count, "error") %> prohibited this container from being saved:</h2>

    <ul>
        <% container.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="field">
    <%= form.label :containernum, "Container Number" %>
    <%= form.text_field :containernum %>
</div>

<div class="field">
    <%= form.collection_select :company_id, Company.order(:companyname), :id, :companyname %>
</div>

<div class="field">
    <%= form.collection_select :shipment_id, Shipment.order(:shipmentnum), :id, :shipmentnum %>
</div>

<div class="actions">
    <%= form.submit %>
</div>
<% end %>