<div class="card-body">
    <%= bootstrap_form_with(model: container, local: true, layout: :vertical) do |form| %>
    <!--<% if container.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(container.errors.count, "error") %> prohibited this container from being saved:</h2>

        <ul>
            <% container.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
    <% end %>--><%= errors_for(@container) %>

    <div class="field">
        <%= form.text_field :containernum, label: "Container Number", pattern: '^[a-zA-Z0-9-]*$', help: "Only alphanumeric characters are allowed", maxlength: 128, required: true %>
    </div>

    <div class="field">
        <%= form.collection_select :shipment_id, Shipment.order(:shipmentnum).all, :id, :shipmentnum, {include_blank: ""}, required: true %>
    </div>

    <div class="field">
        <%= form.collection_select :company_id, Company.order(:companyname).all, :id, :companyname, {include_blank: ""}, required: true %>
    </div>

    <%# Nested Form Form %>
<!--    <h3>Container Orders</h3>-->
<!--    <div id='containerorders'>-->
        <%#= form.fields_for :containerorders do |containerorder| %>
        <%#= render 'containerorder_fields', :f => containerorder %>
        <%# end %>
<!--        <div class='links'>-->
            <%#= link_to_add_association 'Add ContainerOrder', form, :containerorders %>
<!--        </div>-->
<!--    </div><br><br>-->
    <%# End of Nested Form Form %>

    <div class="actions">
        <%= form.submit :Submit, class: 'btn btn-success' %>
    </div>
    <% end %>
</div>