<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card card-default">
            <div class="card-header">
                <h1>Containers</h1>
            </div>
            <table class="table table-hover table-bordered table responsive">
                <thead class="thead-light">
                    <tr>
                        <th>Container Number</th>
                        <th>Shipment Number</th>
                        <th>Company</th>
                        <th colspan="4"></th>
                    </tr>
                </thead>
                <tbody>
                    <% @containers.each do |container| %>
                    <tr>
                        <td><%= link_to container.containernum, container %></td>
                        <td><%= link_to container.shipment.shipmentnum, container.shipment %></td>
                        <td><%= link_to container.company.companyname, container.company %></td>
                        <!--<td><%= link_to 'Show', container %></td>-->
                        <td><%= link_to 'Edit', edit_container_path(container) %>
                            <% if current_user.admin? %> /
                            <%= link_to 'Destroy', container, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        <% end %>
                    </tr>
                    <% end %>
                </tbody>
            </table>
            <div class="card-footer">
                <div class="footer-left">
                    <%= link_to 'New Container', new_container_path, class: "btn btn-primary" %>
                </div>
                <div class="footer-right">
                    <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1  %>
                </div>
            </div>
        </div>
    </div>
</div>
<br>