<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card">
            <div class="card-header">
                <h3>Container</h3>
            </div>
            <div class="card-body">
                <p>
                    <strong>Container #:</strong>
                    <%= @container.containernum %>
                </p>
                <p>
                    <strong>Shipment #:</strong>
                    <%= link_to @container.shipment.shipmentnum, @container.shipment %></li>
                </p>
                <p>
                    <strong>Company:</strong>
                    <%= link_to @container.company.companyname, @container.company %>
                </p>

                <% unless @container.orders.empty? %>
                <p>
                    <strong>Orders:</strong>
                </p>

                <ul>
                  <% @container.orders.each do |order| %>
                    <li><strong>Order #: </strong>
                      <%= link_to order.ordernum, order %></li>
                  <% end %>
                </ul>

                <% end %>


            </div>
            <div class="card-footer">
                <%= link_to 'Edit', edit_container_path(@container), class: "btn btn-primary" %>
                <%= link_to 'Show Orders', containerorders_path, class: "btn btn-primary", :target => "_blank" %>
                <%= link_to 'Back', controller: "containers" %>
            </div>
        </div>
    </div>
</div>