<p>
    <strong>Container Number:</strong>
    <%= @container.containernum %>
</p>

<p>
    <strong>Shipment Number:</strong>
    <%= @container.shipment.shipmentnum %>
</p>

<p>
    <strong>Company:</strong>
    <%= @container.company.companyname %>
</p>

<%= link_to 'Edit', edit_container_path(@container) %> |
<%= link_to 'Back', containers_path %>