<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @container.company.companyname %>
</p>

<p>
  <strong>Shipment ID:</strong>
  <%= @container.shipment.shipmentnum %>
</p>

<p>
  <strong>Container:</strong>
  <%= @container.containernum %>
</p>

<%= link_to 'Edit', edit_container_path(@container) %> |
<%= link_to 'Back', containers_path %>
