<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card">
            <div class="card-header">
                <h3>Payment Method</h3>
            </div>
            <div class="card-body">
                <p>
                    <strong>Payment Method:</strong>
                    <%= @paymentmethod.paymenttype %>
                </p>

                <% unless @paymentmethod.payments.empty? %>
                <p>
                    <strong>Payments:</strong>
                    <ul style="columns: 3 200px;">
                        <% @paymentmethod.payments.each do |payment| %>
                        <li><%= link_to payment.paymentnum, payment %>
                            (<%= payment.customer.try(:cus_fullname) %>)
                            <% end %>
                            </>
                    </ul>
                </p>
                <% end %>

            </div>
            <div class="card-footer">
                <%= link_to 'Edit', edit_paymentmethod_path(@paymentmethod), class: "btn btn-primary" %>
                <%= link_to 'Back', :back, class: "btn btn-secondary" %> </div>
        </div>
    </div>
</div>