<div class="card-body">
    <%= bootstrap_form_with(model: orderinvoice, local: true, layout: :vertical) do |form| %>
    <!--<% if orderinvoice.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(orderinvoice.errors.count, "error") %> prohibited this orderinvoice from being saved:</h2>

        <ul>
            <% orderinvoice.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
    <% end %>--><%= errors_for(@orderinvoice) %>

    <div class="field">
        <%= form.collection_select :order_id, Order.where("id > 0").order(created_at: :desc), :id, :order_info, {include_blank: ""}, required: true %>
    </div>

    <div class="field">
        <%= form.collection_select :invoice_id, Invoice.where("id > 0").order(created_at: :desc), :id, :invoice_info, {include_blank: ""}, required: true %>
    </div>

    <div class="actions">
        <%= form.submit :Submit, class: 'btn btn-success' %>
    </div>
    <% end %>
</div>