<%= form_with(model: orderinvoice, local: true) do |form| %>
  <% if orderinvoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(orderinvoice.errors.count, "error") %> prohibited this orderinvoice from being saved:</h2>

      <ul>
        <% orderinvoice.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :order_id %>
    <%= form.text_field :order_id %>
  </div>

  <div class="field">
    <%= form.label :invoice_id %>
    <%= form.text_field :invoice_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
