<p id="notice"><%= notice %></p>

<h1>Order Invoices</h1>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Invoice</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orderinvoices.each do |orderinvoice| %>
      <tr>
        <td><%= orderinvoice.order.ordernum %></td>
        <td><%= orderinvoice.invoice.invoicenum %></td>
        <td><%= link_to 'Show', orderinvoice %></td>
        <td><%= link_to 'Edit', edit_orderinvoice_path(orderinvoice) %></td>
        <td><%= link_to 'Destroy', orderinvoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order Invoice', new_orderinvoice_path %>
