<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card card-default">
            <div class="card-header">
                <h1>Order Invoices</h1>
            </div>
            <table class="table table-hover table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Customer</th>
                        <th>Order</th>
                        <th>Invoice</th>
                        <th colspan="3"></th>
                    </tr>
                </thead>
                <tbody>
                    <% @orderinvoices.each do |orderinvoice| %>
                    <tr>
                        <td><%= link_to orderinvoice.order.customer.try(:cus_fullname), orderinvoice.order.customer %></td>
                        <td><%= link_to orderinvoice.order.ordernum, orderinvoice.order %></td>
                        <td><%= link_to orderinvoice.invoice.invoicenum, orderinvoice.invoice %></td>
                        <td><%= link_to 'Show', orderinvoice %> /
                            <%= link_to 'Edit', edit_orderinvoice_path(orderinvoice) %>
                            <% if current_user.admin? %> /
                            <%= link_to 'Destroy', orderinvoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        <% end %>
                    </tr>
                    <% end %>
                </tbody>
            </table>
            <div class="card-footer">
                <div class="footer-left">
                    <%= link_to 'New Order Invoice', new_orderinvoice_path, class: "btn btn-primary" %>
                </div>
                <div class="footer-right">
                    <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1  %>
                </div>
            </div>
        </div>
    </div>
</div>

<br>