<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card">
            <div class="card-header">
                <h3>Order Invoice</h3>
            </div>
            <div class="card-body">
                <p>
                    <strong>Customer:</strong>
                    <%= link_to @orderinvoice.order.customer.try(:cus_fullname), @orderinvoice.order.customer %>
                </p>
                <p>
                    <strong>Order #:</strong>
                    <%= link_to @orderinvoice.order.ordernum, @orderinvoice.order %>
                </p>
                <p>
                    <strong>Invoice #:</strong>
                    <%= link_to @orderinvoice.invoice.invoicenum, @orderinvoice.invoice %>
                </p>

            </div>
            <div class="card-footer">
                <%= link_to 'Edit', edit_orderinvoice_path(@orderinvoice), class: "btn btn-primary" %>
                <%= link_to 'Show Order Invoices', orderinvoices_path, class: "btn btn-secondary" %> </div>
        </div>
    </div>
</div>