<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @orderinvoice.order.ordernum %>
</p>

<p>
  <strong>Invoice:</strong>
  <%= @orderinvoice.invoice.invoicenum %>
</p>

<%= link_to 'Edit', edit_orderinvoice_path(@orderinvoice) %> |
<%= link_to 'Back', orderinvoices_path %>
