        <div class="nav">
            <div style="display:none;" class="nav_up" id="nav_up">🔺</div>
            <div style="display:none;" class="nav_down" id="nav_down">🔻</div>
        </div>
        <div class="card-body" id="content">
            <%= bootstrap_form_with(model: order, local: true, layout: :vertical) do |form| %>
            <!--<% if order.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

        <ul>
            <% order.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
    <% end %>--><%= errors_for(@order) %>

            <div class="field">
                <%= form.text_field :ordernum, label: "Order Number", pattern: '^[a-zA-Z0-9-]*$', help: "Only numeric characters are allowed", maxlength: 128, disabled: false if @order.persisted? %>
            </div>

            <div class="field">
                <%= form.text_field :date, label: "Order Date", data: { behavior: "flatpickr" }, required: true %>
            </div>

            <div class="field">
                <%= form.collection_select :customer_id, Customer.where("id > 0").order(created_at: :desc), :id, :cus_fullname, {include_blank: ""}, required: true %>
            </div>

            <div class="field">
                <%= form.number_field :lotstock, label: "Lot Stock", min: 0, required: true %>
            </div>

            <div class="field">
                <%= form.number_field :quantity, min: 1, required: true %>
            </div>

            <div class="field">
                <%= form.number_field :price, value: number_with_precision(order.price, precision: 2), min: 0, step: 0.01,required: true %>
            </div>

            <div class="field">
                <%= form.number_field :total, value: number_with_precision(order.price, precision: 2), min: order.price, step: 0.01,required: true %>
            </div>

            <div class="field">
                <%= form.collection_select :orderstatus_id, Orderstatus.where("id > 0").order(created_at: :desc), :id, :orderstatus, {include_blank: ""}, required: true %>
            </div>

            <%# Nested Form Form %>
            <h3>Cars</h3>
            <div id='[child]s'>
                <%= form.fields_for :cars do |car| %>
                <%= render 'car_fields', :f => car %>
                <% end %>
                <div class='links'>
                    <%= link_to_add_association 'Add Car', form, :cars %>
                </div>
            </div><br><br>
            <%# End of Nested Form Form %>

            <h3>Auctions</h3>
            <div id='[child]s'>
                <%= form.fields_for :auctions do |auction| %>
                <%= render 'auction_fields', :f => auction %>
                <% end %>
                <div class='links'>
                    <%= link_to_add_association 'Add Auction', form, :auctions %>
                </div>
            </div><br><br>
            <%# End of Nested Form Form %>

            <%# Nested Form Form %>
            <% unless @order.orderinvoices.empty? %>
            <h3>Invoices</h3>
            <div id='[child]s'>
                <%= form.fields_for :orderinvoices do |orderinvoice| %>
                <%= render 'orderinvoice_fields', :f => orderinvoice %>
                <% end %>
                <div class='links'>
                    <%= link_to_add_association 'Add Invoice', form, :orderinvoices %>
                </div>
            </div><br><br><% end %>
            <%# End of Nested Form Form %>

            <div class="actions">
                <%= form.submit :Submit, class: 'btn btn-success' %>
            </div>
            <% end %>
        </div>