<%= form_with(model: order, local: true) do |form| %>
<% if order.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

    <ul>
        <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="field">
    <%= form.label :ordernum %>
    <%= form.text_field :ordernum %>
</div>

<div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
</div>

<div class="field">
    <%= form.label :lotstock %>
    <%= form.number_field :lotstock %>
</div>

<div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
</div>

<div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
</div>

<div class="field">
    <%= form.label :total %>
    <%= form.text_field :total %>
</div>

<div class="field">
    <%= form.label :orderstatus_id %>
    <%= form.collection_select :orderstatus_id, Orderstatus.order(:orderstatus), :id, :orderstatus %>
</div>

<div class="field">
    <%= form.label :customer_id %>
    <%= form.collection_select :customer_id, Customer.all, :id, :cus_fullname %>
</div>

<div class="actions">
    <%= form.submit %>
</div>
<% end %>