<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card">
            <div class="card-header">
                <h3>Order</h3>
            </div>
            <div class="card-body">
                <p>
                    <strong>Order #:</strong>
                    <%= @order.ordernum %>
                </p>
                <p>
                    <strong>Order Date:</strong>
                    <%= @order.date.to_s(:long_date) %>
                </p>
                <p>
                    <strong>Lotstock:</strong>
                    <%= @order.lotstock %>
                </p>
                <p>
                    <strong>Quantity:</strong>
                    <%= @order.quantity %>
                </p>
                <p>
                    <strong>Price:</strong>
                    <%= number_to_currency(@order.price) %>
                </p>
                <p>
                    <strong>Total:</strong>
                    <%= number_to_currency(@order.total) %>
                </p>
                <p>
                    <strong>Order Status:</strong>
                    <%= @order.orderstatus.orderstatus %>
                </p>
                <p>
                    <strong>Customer:</strong>
                    <%= link_to @order.customer.try(:cus_fullname), @order.customer %>
                </p>
                <p>
                    <strong>Cars:</strong>
                    <ul>
                        <% for @car in @order.cars %>
                        <li><strong>VIN Number :</strong>
                            <%= link_to @car.vinnumber, @car %>
                            (<%= @car.car_info %>)</li>
                        <% end %>
                    </ul>
                </p>

                <p>
                    <strong>Auctions:</strong>
                    <ul>
                        <% @order.auctions.each do |auction| %>
                        <li><strong>Auction Name: </strong>
                            <%= link_to auction.auctionname, auction %></li>
                        <% end %>
                    </ul>
                </p>

                <p>
                    <strong>Invoices:</strong>
                    <ul>
                        <% @order.invoices.each do |invoice| %>
                        <li><strong>Invoice #: </strong>
                            <%= link_to invoice.invoicenum, invoice %>
                            (<%= invoice.invoicestatus.invoicestatus %>)</li>
                        <% end %>
                    </ul>
                </p>

            </div>
            <div class="card-footer">
                <%= link_to 'Edit', edit_order_path(@order), class: "btn btn-primary" %>
                <%= link_to 'Back', orders_path, class: "btn btn-secondary" %> </div>
        </div>
    </div>
</div>