<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="nav">
            <div style="display:none;" class="nav_up" id="nav_up">🔺</div>
            <div style="display:none;" class="nav_down" id="nav_down">🔻</div>
        </div>
        <div class="card" id="content">
            <div class="card-header">
                <h3>Order</h3>
            </div>
            <div class="card-body">
                <p>
                    <strong>Order #:</strong>
                    <%= @order.ordernum %>
                </p>
                <p>
                    <strong>Order Date:</strong>
                    <%= @order.date.to_s(:long_date) %>
                </p>
                <p>
                    <strong>Customer:</strong>
                    <%= link_to @order.customer.try(:cus_fullname), @order.customer %>
                </p>
                <p>
                    <strong>Lotstock:</strong>
                    <%= @order.lotstock %>
                </p>
                <p>
                    <strong>Quantity:</strong>
                    <%= @order.quantity %>
                </p>
                <p>
                    <strong>Price:</strong>
                    <%= number_to_currency(@order.price) %>
                </p>
                <p>
                    <strong>Total:</strong>
                    <%= number_to_currency(@order.total) %>
                </p>
                <p>
                    <strong>Order Status:</strong>
                    <%= @order.orderstatus.orderstatus %>
                </p>

                <% unless @order.cars.empty? %>
                <p>
                    <strong>Cars:</strong>
                    <ul>
                        <% for @car in @order.cars %>
                        <li><strong>VIN Number:</strong>
                            <%= link_to @car.vinnumber, @car %>
                            (<%= @car.car_info %>)</li>
                        <% end %>
                    </ul>
                </p>
                <% end %>

                <%# unless @order.auctions.empty? %>
<!--                <p>-->
<!--                    <strong>Auctions:</strong>-->
<!--                    <ul>-->
                        <%# @order.auctions.each do |auction| %>
<!--                        <li><strong>Auction Name: </strong>-->
<!--                            <%#= link_to auction.auctionname, auction %></li>-->
                        <%# end %>
<!--                    </ul>-->
<!--                </p>-->
                <%# end %>

                <%# unless @order.invoices.empty? %>
<!--                <p>-->
<!--                    <strong>Invoices:</strong>-->
<!--                    <ul>-->
                        <%# @order.invoices.each do |invoice| %>
<!--                        <li><strong>Invoice #: </strong>-->
                            <%#= link_to invoice.invoicenum, invoice %>
                            <%# unless invoice.payments.empty? %>

                            <%# invoice.payments.each do |payment| %>
<!--                            <ul>-->
<!--                                <li>Payment #: <%#= link_to payment.paymentnum, payment %></li>-->
<!--                            </ul>-->
                            <%# end %>
                            <%# end %>
                            <%# end %>
<!--                        </li>-->
<!--                    </ul>-->
<!--                </p>-->
                <%# end %>

                <% unless @order.images.empty? %>
                <strong>Images:</strong>
                <div class="card-body">
                    <div class="card-columns">
                        <% @order.images.each do |image| %>
                        <div class="card">
                            <div class="card-body p-1">
                                <%= link_to image_path(image.id) do %>
                                <%= image_tag image.image, class: 'd-block w-100 img-fluid' if image.image.attached? %>
                                <% end %>

                                <p class="m-2"><%= image.description %></p>
                            </div>
                        </div>
                        <% end %>
                    </div>
                </div>
                <% end %>


            </div>
            <div class="card-footer">
                <%= link_to 'Edit', edit_order_path(@order), class: "btn btn-primary" %>
                <%= link_to 'Show Orders', orders_path, class: "btn btn-secondary" %> </div>
        </div>
    </div>
</div>