<p id="notice"><%= notice %></p>

<p>
  <strong>Company Name:</strong>
  <%= @company.companyname %>
</p>

<%# Nested Form Show %>
<p>
  <strong>Department Name:</strong>
</p>
<ul>
  <% for @department in @company.departments %>
    <li><%= @department.departmentname %></li>
  <% end %>
</ul>
<%# End of Nested Form Show %>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
