<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card">
            <div class="card-header">
                <h3>Company</h3>
            </div>
            <div class="card-body">
                <p>
                    <strong>Company Name:</strong>
                    <%= @company.companyname %>
                </p>

                <% unless  @company.departments.empty? %>
                <p>
                    <strong>Departments:</strong>
                    <ul>
                </p>
                <% for @department in @company.departments %>
                <li><%= link_to @department.departmentname, @department %></li>
                <% end %>
                </ul>
                </p>
                <% end %>

                <% unless  @company.employees.empty? %>
                <p>
                    <strong>Employees:</strong>
                    <ul>
                        <% @company.employees.each do |employee| %>
                        <li><%= link_to employee.try(:emp_fullname), employee %></li>
                        <% end %>
                    </ul>
                </p>
                <% end %>
            </div>
            <div class="card-footer">
                <%= link_to 'Edit', edit_company_path(@company), class: "btn btn-primary" %>
                <%= link_to 'Back', :back, class: "btn btn-secondary" %>
            </div>
        </div>
    </div>
</div>
