<p id="notice"><%= notice %></p>

<h1>Keystatuses</h1>

<table>
  <thead>
    <tr>
      <th>Keystatus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @keystatuses.each do |keystatus| %>
      <tr>
        <td><%= keystatus.keystatus %></td>
        <td><%= link_to 'Show', keystatus %></td>
        <td><%= link_to 'Edit', edit_keystatus_path(keystatus) %></td>
        <td><%= link_to 'Destroy', keystatus, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Keystatus', new_keystatus_path %>
