<div class="card-body">
    <%= bootstrap_form_with(model: picture, local: true, layout: :horizontal) do |form| %>
    <!--<% if picture.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

        <ul>
            <% picture.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
    <% end %>--><%= errors_for(@picture) %>

    <div class="field">
        <%= form.text_field :picture, required: true %>
    </div>

    <div class="field">
        <%= form.collection_select :order_id, Order.order(:ordernum), :id, :ordernum, {include_blank: ""}, required: true %>
    </div>

    <div class="actions">
        <%= form.submit :Submit, class: 'btn btn-success' %>
    </div>
    <% end %>
</div>