<div class="row row-fluid">
    <div class="col-xs-12">
        <div class="card card-default">
            <div class="card-header">
                <h1>Payments</h1>
            </div>
            <table class="table table-hover table-bordered table-responsive">
                <thead class="thead-light">
                    <tr>
                        <th>Payment Number</th>
                        <th>Payment Date</th>
                        <th>Customer</th>
                        <th>Amount</th>
                        <th>Payment Status</th>
                        <th>Payment Method</th>
                        <th>Invoice Number</th>
                        <th colspan="8"></th>
                    </tr>
                </thead>
                <tbody>
                    <% @payments.each do |payment| %>
                    <tr>
                        <td><%= link_to payment.paymentnum, payment %></td>
                        <td><%= payment.date.to_s(:short_date) %></td>
                        <td><%= link_to payment.customer.try(:cus_fullname), payment.customer %></td>
                        <td><%= number_to_currency(payment.amount) %></td>
                        <td><%= payment.paymentstatus.paymentstatus %></td>
                        <td><%= payment.paymentmethod.paymenttype %></td>
                        <td><%= link_to payment.invoice.invoicenum, payment.invoice%></td>
                        <!--<td><%= link_to 'Show', payment %></td>-->
                        <td><%= link_to 'Edit', edit_payment_path(payment) if policy(@payment).edit? %>
                            <% if current_user.admin? %> /
                            <%= link_to 'Destroy', payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        <% end %>
                    </tr>
                    <% end %>
                </tbody>
            </table>
            <div class="card-footer">
                <div class="footer-left">
                    <%= link_to 'New Payment', new_payment_path, class: "btn btn-primary" if policy(@payment).new? %>
                </div>
                <div class="footer-right">
                    <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1  %>
                </div>
            </div>
        </div>
    </div>
</div>

<br>