<h1>Payments</h1>

<table>
    <thead>
        <tr>
            <th>Payment Number</th>
            <th>Date</th>
            <th>Customer</th>
            <th>Amount</th>
            <th>Payment Status</th>
            <th>Payment Method</th>
            <th>Invoice Number</th>
            <th colspan="7"></th>
        </tr>
    </thead>

    <tbody>
        <% @payments.each do |payment| %>
        <tr>
            <td><%= payment.paymentnum %></td>
            <td><%= payment.date %></td>
            <td><%= payment.customer.try(:cus_fullname) %></td>
            <td><%= number_to_currency(payment.amount) %></td>
            <td><%= payment.paymentstatus.paymentstatus %></td>
            <td><%= payment.paymentmethod.paymenttype %></td>
            <td><%= payment.invoice.invoicenum %></td>
            <td><%= link_to 'Show', payment %></td>
            <td><%= link_to 'Edit', edit_payment_path(payment) %></td>
            <td><%= link_to 'Destroy', payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New Payment', new_payment_path %>
