<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card">
            <div class="card-header">
                <h3>Payment</h3>
            </div>
            <div class="card-body">
                <p>
                    <strong>Payment #:</strong>
                    <%= @payment.paymentnum %>
                </p>
                <p>
                    <strong>Payment Date:</strong>
                    <%= @payment.date.to_s(:long_date) %>
                </p>
                <p>
                    <strong>Customer:</strong>
                    <%= link_to @payment.customer.cus_fullname, @payment.customer %>
                </p>
                <p>
                    <strong>Amount:</strong>
                    <%= number_to_currency(@payment.amount) %>
                </p>
                <p>
                    <strong>Payment Status:</strong>
                    <%= @payment.paymentstatus.paymentstatus %>
                </p>
                <p>
                    <strong>Payment Method:</strong>
                    <%= @payment.paymentmethod.paymenttype %>
                </p>
                <p>
                    <strong>Invoice #:</strong>
                    <%= link_to @payment.invoice.invoicenum, @payment.invoice %>
                </p>

                <% unless @payment.invoice.orders.empty? %>
                <p>
                    <strong>Orders:</strong>
                    <ul>
                        <% @payment.invoice.orders.each do |order| %>
                        <li><strong>Order #: </strong>
                            <%= link_to order.ordernum, order %>

                            <% end %>
                        </li>
                    </ul>
                </p>
                <% end %>

            </div>
            <div class="card-footer">
                <%= link_to 'Edit', edit_payment_path(@payment), class: "btn btn-primary" %>
                <%= link_to 'Show Payments', payments_path, class: "btn btn-secondary" %> </div>
        </div>
    </div>
</div>