<div class="card-body">
    <%= bootstrap_form_with(model: shipmentstatus, local: true, layout: :vertical) do |form| %>
    <!--<% if shipmentstatus.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(shipmentstatus.errors.count, "error") %> prohibited this shipmentstatus from being saved:</h2>

        <ul>
            <% shipmentstatus.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
    <% end %>--><%= errors_for(@shipmentstatus) %>

    <div class="field">
        <%= form.text_field :shipmentstatus, label: "Shipment Status", maxlength: 128, required: true %>
    </div>

    <div class="actions">
        <%#= form.submit action_name == 'new' ? 'Create Shipping Status' : 'Update Shipping Status', class: 'btn btn-success'%>
        <%= form.submit :Submit, class: 'btn btn-success' %>
    </div>
    <% end %>
</div>