<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card card-default">
            <div class="card-header">
                <h1>Shipment Statuses</h1>
            </div>
            <table class="table table-hover table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Shipment Status
                        <th colspan="3"></th>
                    </tr>
                </thead>
                <tbody>
                    <% @shipmentstatuses.each do |shipmentstatus| %>
                    <tr>
                        <td><%= shipmentstatus.shipmentstatus %></td>
                        <td><%= link_to 'Show', shipmentstatus %></td>
                        <td><%= link_to 'Edit', edit_shipmentstatus_path(shipmentstatus) %></td>
                        <td><%= link_to 'Destroy', shipmentstatus, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
            <div class="card-footer">
                <%= link_to 'New Shipment Status', new_shipmentstatus_path, class: "btn btn-primary" %>
            </div>
        </div>
    </div>
</div>

<br>