<div class="card-body">
    <%= bootstrap_form_with(model: car, local: true, layout: :vertical) do |form| %>
    <!--<% if car.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

        <ul>
            <% car.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
    <% end %>--><%= errors_for(@car) %>

    <div class="field">
        <%= form.text_field :vinnumber, label: "VIN Number", pattern: '^[a-zA-Z0-9]*$', help: "Only alphanumeric characters are allowed", minlength: 11, maxlength: 17, required: true %>
    </div>
    <!--VIN Number 1981 standard regex:'^[A-HJ-NPR-Z\\d]{8}[\\dX][A-HJ-NPR-Z\\d]{2}\\d{6}$-->

    <div class="field">
        <%= form.number_field :year, pattern: '/(19|20)\d{2}/i', min: 1900, max: Date.today.year+1, required: true %>
    </div>

    <div class="field">
        <%= form.text_field :make, required: true, maxlength: 128, required: true %>
    </div>

    <div class="field">
        <%= form.text_field :model, required: true, maxlength: 128, required: true %>
    </div>

    <div class="field">
        <%= form.collection_select :titlestatus_id, Titlestatus.where("id > 1").order(:titlestatus), :id, :titlestatus, {include_blank: ""}, required: true %>
    </div>

    <div class="field">
        <%= form.collection_select :keystatus_id, Keystatus.where("id > 1").order(:keystatus), :id, :keystatus, {include_blank: ""} %>
    </div>

    <div class="field">
        <%= form.collection_select :auction_id, Auction.where("id > 1").order(created_at: :desc), :id, :auctionname, {include_blank: ""}, required: true %>
    </div>

    <div class="field">
        <%= form.collection_select :order_id, Order.where("id > 0").order(:ordernum), :id, :ordernum, {include_blank: ""}, required: true %>
    </div>

    <div class="actions">
        <%= form.submit :Submit, class: 'btn btn-success' %>
    </div>
    <% end %>
</div>