<div class="row row-fluid">
    <div class="col-xs-12">
        <div class="card card-default">
            <div class="card-header">
                <h1>Cars</h1>
            </div>
            <table class="table table-hover table-bordered table-responsive">
                <thead class="thead-light">
                    <tr>
                        <th>VIN Number</th>
                        <th>Year</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Title Status</th>
                        <th>Key Status</th>
                        <th>Order Number</th>
                        <th colspan="8"></th>
                    </tr>
                </thead>
                <tbody>
                    <% @cars.each do |car| %>
                    <tr>
                        <td><%= link_to car.vinnumber, car %></td>
                        <td><%= link_to car.year, car %></td>
                        <td><%= link_to car.make, car %></td>
                        <td><%= link_to car.model, car %></td>
                        <td><%= link_to car.titlestatus.titlestatus, car %></td>
                        <td><%= link_to car.keystatus.keystatus, car %></td>
                        <td><%= link_to car.order.ordernum, car.order %></td>
                        <!--<td><%= link_to 'Show', car %></td>-->
                        <td><%= link_to 'Edit', edit_car_path(car) %> / 
                        <%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
            <div class="card-footer">
                <%= link_to 'New Car', new_car_path, class: "btn btn-primary" %>
            </div>
        </div>
    </div>
</div>

<br>