<div class="row row-fluid">
    <div class="col-xs-12">
        <div class="card card-default">
            <div class="card-header">
                <h1>Cars</h1>
            </div>
            <table class="table table-hover table-bordered table-responsive">
                <thead class="thead-light">
                    <tr>
                        <th>VIN Number</th>
                        <th>Year</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Title Status</th>
                        <th>Key Status</th>
                        <th>Auction</th>
                        <th>Order Number</th>
                        <th colspan="8"></th>
                    </tr>
                </thead>
                <tbody>
                    <% @cars.each do |car| %>
                    <tr>
                        <td><%= link_to car.vinnumber, car %></td>
                        <td><%= car.year %></td>
                        <td><%= car.make %></td>
                        <td><%= car.model %></td>
                        <td><%= car.titlestatus.titlestatus %></td>
                        <td><%= car.keystatus.keystatus %></td>
                        <td><%= link_to car.auction.auctionname, order.auction %></td>
                        <td><%= link_to car.order.ordernum, car.order %></td>
                        <!--<td><%= link_to 'Show', car %></td>-->
                        <td><%= link_to 'Edit', edit_car_path(car) %>
                            <% if current_user.admin? %> /
                            <%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        <% end %>
                    </tr>
                    <% end %>
                </tbody>
            </table>
            <div class="card-footer">
                <div class="footer-left">
                    <%= link_to 'New Car', new_car_path, class: "btn btn-primary" %>
                </div>
                <div class="footer-right">
                    <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1  %>
                </div>
            </div>
        </div>
    </div>
</div>

<br>