<p id="notice"><%= notice %></p>

<p>
  <strong>Vinnumber:</strong>
  <%= @car.vinnumber %>
</p>

<p>
  <strong>Year:</strong>
  <%= @car.year %>
</p>

<p>
  <strong>Make:</strong>
  <%= @car.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Titlestatus:</strong>
  <%= @car.titlestatus_id %>
</p>

<p>
  <strong>Keystatus:</strong>
  <%= @car.keystatus_id %>
</p>

<p>
  <strong>Order ID:</strong>
  <%= @car.order_id %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
