<div class="card-body">
    <%= bootstrap_form_with(model: shipment, local: true, layout: :vertical) do |form| %>
    <!--<% if shipment.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(shipment.errors.count, "error") %> prohibited this shipment from being saved:</h2>

        <ul>
            <% shipment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
    <% end %>--><%= errors_for(@shipment) %>

    <div class="field">
        <%= form.text_field :shipmentnum, label: "Shipment Number", pattern: '^[a-zA-Z0-9-]*$', help: "Only alphanumeric characters are allowed", maxlength: 128, required: true %>
    </div>

    <div class="field">
        <%= form.text_field :date, label: "Shipment Date", data: { behavior: "flatpickr" }, required: true %>
    </div>

    <div class="field">
        <%= form.number_field :quantity, min: 1, required: true %>
    </div>

    <div class="field">
        <%= form.collection_select :warehouse_id, Warehouse.order(:warehousename), :id, :warehousename, {include_blank: ""}, required: true %>
    </div>

    <div class="field">
        <%= form.collection_select :shipmentmethod_id, Shipmentmethod.order(:shipmentmethod), :id, :shipmentmethod, {include_blank: ""}, required: true %>
    </div>

    <div class="field">
        <%= form.collection_select :shipmentstatus_id, Shipmentstatus.order(:shipmentstatus), :id, :shipmentstatus, {include_blank: ""}, required: true %>
    </div>

    <%# Nested Form Form %>
    <h3>Invoices</h3>
    <div id='[child]s'>
        <%= form.fields_for :invoiceshipments do |invoiceshipment| %>
        <%= render 'invoiceshipment_fields', :f => invoiceshipment %>
        <% end %>
        <div class='links'>
            <%= link_to_add_association 'Add Invoice', form, :invoiceshipments %>
        </div>
    </div><br><br>
    <%# End of Nested Form Form %>

    <div class="actions">
        <%= form.submit :Submit, class: 'btn btn-success' %>
    </div>
    <% end %>
</div>