<h1>Shipments</h1>

<table>
    <thead>
        <tr>
            <th>Shipment Number</th>
            <th>Date</th>
            <th>Quantity</th>
            <!--      <th>Container</th>-->
            <th>Warehouse</th>
            <th>Shipment Method</th>
            <th>Shipment Status</th>
            <th colspan="8"></th>
        </tr>
    </thead>

    <tbody>
        <% @shipments.each do |shipment| %>
        <tr>
            <td><%= shipment.shipmentnum %></td>
            <td><%= shipment.date %></td>
            <td><%= shipment.quantity %></td>
            <!--        <td><%#= shipment.container %></td>-->
            <td><%= shipment.warehouse.warehousename %></td>
            <td><%= shipment.shipmentmethod.shipmentmethod %></td>
            <td><%= shipment.shipmentstatus.shipmentstatus %></td>
            <td><%= link_to 'Show', shipment %></td>
            <td><%= link_to 'Edit', edit_shipment_path(shipment) %></td>
            <td><%= link_to 'Destroy', shipment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New Shipment', new_shipment_path %>
