<div class="row row-fluid">
    <div class="col-xs-12">
        <div class="card card-default">
            <div class="card-header">
                <h1>Shipments</h1>
            </div>
            <table class="table table-hover table-bordered table-responsive">
                <thead class="thead-light">
                    <tr>
                        <th>Shipment Number</th>
                        <th>Shipment Date</th>
                        <th>Quantity</th>
                        <th>Warehouse</th>
                        <th>Shipment Method</th>
                        <th>Shipment Status</th>
                        <th colspan="7"></th>
                    </tr>
                </thead>
                <tbody>
                    <% @shipments.each do |shipment| %>
                    <tr>
                        <td><%= link_to shipment.shipmentnum, shipment %></td>
                        <td><%= shipment.date.to_s(:short_date) %></td>
                        <td><%= shipment.quantity %></td>
                        <td><%= link_to shipment.warehouse.warehousename, shipment.warehouse %></td>
                        <td><%= shipment.shipmentmethod.shipmentmethod %></td>
                        <td><%= shipment.shipmentstatus.shipmentstatus %></td>
                        <!--<td><%= link_to 'Show', shipment %></td>-->
                        <td><%= link_to 'Edit', edit_shipment_path(shipment) %>
                        <% if current_user.admin? %> / 
                            <%= link_to 'Destroy', shipment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        <% end %>
                    </tr>
                    <% end %>
                </tbody>
            </table>
            <div class="card-footer">
                <div class="footer-left">
                    <%= link_to 'New Shipment', new_shipment_path, class: "btn btn-primary" %>
                </div>
                <div class="footer-right">
                    <%== pagy_bootstrap_nav(@pagy) %>
                </div>
            </div>
        </div>
    </div>
</div>

<br>