<div class="row row-fluid">
    <div class="col-sm-5">
        <div class="card">
            <div class="card-header">
                <h3>Shipment</h3>
            </div>
            <div class="card-body">
                <p>
                    <strong>Shipment #:</strong>
                    <%= @shipment.shipmentnum %>
                </p>
                <p>
                    <strong>Shipment Date:</strong>
                    <%= @shipment.date.to_s(:long_date) %>
                </p>
                <p>
                    <strong>Quantity:</strong>
                    <%= @shipment.quantity %>
                </p>
                <p>
                    <strong>Warehouse:</strong>
                    <%= link_to @shipment.warehouse.warehousename, @shipment.warehouse %>
                </p>
                <p>
                    <strong>Shipment Method:</strong>
                    <%= @shipment.shipmentmethod.shipmentmethod %>
                </p>
                <p>
                    <strong>Shipment Status:</strong>
                    <%= @shipment.shipmentstatus.shipmentstatus %>
                </p>

                <% unless @shipment.orders.empty? %>
                <p>
                    <strong>Orders:</strong>
                    <ul>
                        <% @shipment.orders.each do |order| %>
                        <li><strong>Order #: </strong>
                            <%= link_to order.ordernum, order %>
                            <% unless @shipment.invoices.empty? %>

                            <% @shipment.invoices.each do |invoice| %>
                            <ul>
                                <li>Invoice #: <%= link_to invoice.invoicenum, invoice %></li>
                            </ul>
                            <% end %>
                            <% end %>
                            <% end %>
                        </li>
                    </ul>
                </p>
                <% end %>


                <% unless @shipment.containers.empty? %>
                <p>
                    <strong>Containers:</strong>
                    <ul>
                        <% @shipment.containers.each do |container| %>
                        <li><strong>Container #: </strong>
                            <%= link_to container.containernum, container %>
                        (<%= link_to container.company.companyname, container.company %>)</li>
                        <% end %>
                    </ul>
                </p>
                <% end %>

            </div>
            <div class="card-footer">
                <%= link_to 'Edit', edit_shipment_path(@shipment), class: "btn btn-primary" %>
                <%= link_to 'Back', :back, class: "btn btn-secondary" %>
            </div>

        </div>
    </div>
</div>