<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @shipment.date %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @shipment.quantity %>
</p>

<!--<p>-->
<!--  <strong>Container:</strong>-->
  <%#= @shipment.container %>
<!--</p>-->

<p>
  <strong>Warehouse:</strong>
  <%= @shipment.warehouse_id %>
</p>

<p>
  <strong>Shipmentmethod:</strong>
  <%= @shipment.shipmentmethod_id %>
</p>

<p>
  <strong>Shipmentstatus:</strong>
  <%= @shipment.shipmentstatus_id %>
</p>

<%= link_to 'Edit', edit_shipment_path(@shipment) %> |
<%= link_to 'Back', shipments_path %>
