<div class="card-body">
    <%= bootstrap_form_with(model: warehouse, local: true, layout: :vertical) do |form| %>
    <!--<% if warehouse.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(warehouse.errors.count, "error") %> prohibited this warehouse from being saved:</h2>

        <ul>
            <% warehouse.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
    <% end %>--><%= errors_for(@warehouse) %>

    <div class="field">
        <%= form.text_field :warehousename, label: "Warehouse Name", maxlength: 128, required: true %>
    </div>

    <div class="field">
        <%= form.collection_select :location_id, Location.where("id > 0").order(created_at: :desc), :id, :city, {include_blank: ""}, required: true %>
    </div>

    <div class="actions">
        <%= form.submit :Submit, class: 'btn btn-success' %>
    </div>
    <% end %>
</div>