<%# Nested Form Partial %>
<div class="field">
  <%= f.label :auctionname, "Auction Name"%>
  <%= f.text_field :auctionname %><br>
  <%= f.label :address, "Auction Address"%>
  <%= f.text_field :address %>
</div>

<%= link_to_remove_association "Remove Auction", f %>
<%# End of Nested Form Partial %>
