<div class="row row-fluid">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h2>Images Gallery</h2>
            </div>
            <div class="card-body">
                <div class="card-columns">
                    <% @images.each do |image| %>
                    <div class="card">
                        <div class="card-body p-1">
                            <%= link_to image_path(image.id) do %>
                            <%= image_tag image.image, class: 'd-block w-100 img-fluid' if image.image.attached? %>
                            <% end %>

                            <p class="m-2"><b>Description:</b> <%= image.description %></p>
                            <p class="m-2"><b>Order # </b><%= link_to image.order.ordernum, image.order %></p>
                            <hr>

                            <%= link_to image_path(image.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
                            <i class="fas fa-trash fa-lg m-2"></i>
                            <% end %>

                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
            <div class="card-footer">
                <%= link_to 'New Image', new_image_path(@image), class: "btn btn-primary" %>

            </div>
        </div>
    </div>
</div>