<div class="row row-fluid">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h2>Images Gallery</h2>
            </div>
            <div class="card-body">
                <div class="card-columns">
                    <% @images.each do |image| %>
                    <div class="card">
                        <div class="card-body p-1">

                            <%= link_to image_path(image.id) do %>
                            <%= image_tag image.image, class: 'd-block w-100 img-fluid' if image.image.attached? %>
                            <% end %>

                            <p class="my-1"><b>Description:</b> <%= image.description %></p>
                            <p class="my-1"><b>User:</b><%= image.user.email %></p>
                            <p class="my-1"><b>Order #:</b><%= image.order.ordernum %></p>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
            <div class="card-footer">
                <%= link_to 'New Image', new_image_path(@image), class: "btn btn-primary" %>

            </div>
        </div>
    </div>
</div>